body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('../images/bus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.layout-parent {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 15px;
    height: 100vh;
    gap: 20px;
}

.sidebar {

    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    
    justify-content: start;
    padding: 0 20px;
    ;
    flex-direction: column;

}

.logo {
    color: #fff;
}

.role {
    color: #fff;
    font-size: 18px;
}
.menu{
    margin-top: 150px;
}
.body {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    width: 100%;
}

.header {

    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.479);
    padding: 20px;
    width: 100%;

}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.2s;
    gap: 20px;

}

.active-menu-item {
    border: 2px solid white;
    border-radius: 5px;
}


.menu-item i {
    font-size: 30px;
    margin-right: 10px;
    color: #fff;

}

.menu-item span {
    font-size: 18px;
    color: #fff;
}

.content {

    padding: 10px 0px;
}